.site.left
    .url
        a.link(href='/api/v1/campaign/e18')
         un URL
    span.info
        .etichetta traccianti attivi
        .numeri 4
    span.info
        .etichetta script
        .numeri 188
    span.info
        .etichetta "trattano" dati
        .numeri 40
    span.info
        .etichetta cookies
        .numeri 214
    span.compagnie
        span.compagnia.comScore comScore
        span.compagnia.Nielsen Nielsen
        span.compagnia.Google Google
        span.compagnia.Yandex Yandex
        span.compagnia ...
