
include ../pagestruct

div#className
    h1 Titolo
    p contenuto
    a(href="https://pugjs.org/api/getting-started.html") Questa pagina è scritta con sintassi pug: un dialetto semplificato dell'HTML, se sai usare l'HTMl non è necessario che tu lo impari.
    
