
include ../pagestruct

div.container-fluid

    div.sezione.goal--cosa
        h1(class="titolo") Documentazione, formato dati e API

        h2 Post
        p(class="descrizione") Il post è il contenuto creato da chi pubblica su Facebook. Noi chiamiamo post qualunque elemento (link, foto, album, testo, video). Il tipo di contenuto è una variabile all'interno del post, il post è identificato da un postId che è unico per ogni post. Navigando su https://facebook.com/$mettereilnumerodelPostId si verrà reindirizzati al post originale.
        #post

        h2 Impression
        p(class="descrizione") un'impression è un post che appare sulla timeline di Facebook. Esistono le impression sponsorizzate e quelle delle fonti seguite (amici, pagine, gruppi). Ogni impression può apparire ad un utente più di una volta, e durante la sua vita ha un numero di like/share/commenti che cambia. Ogni impression è associata ad un post.
        #impression

        h2 Analisi semantica
        #entity

        h2 Analisi dei traccianti
        #trackers
        p(class="goal--cosa contenuto") Come ?
