
include ../stdheader
include ../navbar

br
br
br
div.container-fluid
    div.sezione.goal--cosa
        h1(class="titolo") Documentazione, formato dati e API
        p.goal--come I dati del progetto sono importati da:
            a("https://facebook.tracking.exposed/impact") facebook.tracking.exposed 
            |, che permette di aggregare timeline dei nostri bot, e da 
            a("https://invi.sible.link/stats") il sistema di analisi traccianti
            |. Volontariamente, si può partecipare allo studio del fenomeno elettorale sui social media installando la browser extension per 
            a(href="https://addons.mozilla.org/en-US/firefox/addon/facebook-tracking-exposed/") Firefox
            |  o per 
            a(href="") Chrome [no, è in takedown]
            |. Se oltre ai dati, ti interessa il codice, guarda i nostri
            a(href="https://github.com/tracking-exposed") repository su github
            |.

        h2 I dataset sono 2, scarica quello 
            a(href="http://elezioni.tracking.exposed/campaign/opendata/") prodotto dai 6 bot
            |.
        h2 L'altro dataset, non è ancora disponibile. 
