
include ../pagestruct

div.container-fluid

    div.sezione.goal--cosa
        h1(class="goal--cosa titolo") Osserviamo l'algoritmo che ci osserva
        #post
        p(class="goal--cosa contenuto") Internet, nelle speranze della maggior parte dei suoi utenti, avrebbe dovuto rappresentare una nuova, enorme,
        opportunità di essere informati meglio e con più precisione. Dopo decenni passati a "subire" l'infomrazione di giornali e televisioni, l'utente
        finalmente diventava parte "attiva" nel veicolare informazioni, rendendo più veloce, capillare ed efficace il sistema. Così è stato, ma solo
        in parte
        (class="goal--cosa highlight") Per poter valutare in profondità se il sistema sia davvero più efficiente, ovvero che consenta all'utente di informarsi meglio, dobbiamo porci delle domande:
        _Gli utenti sono tutti uguali? In un sistema in cui ogni utente è profilato, siamo sicuri che le informazioni siano veicolate in modo uguale, che tutti ne abbiano accesso allo stesso modo?
        _Chi fornisce le informazioni opera sempre correttamente? Le più importanti piattaforme sulle quali gli utenti si informano sono organizzazioni che hanno come obiettivo vendere visibilità delle informazioni stesse. Il rischio cortocircuito è alto.
        _Facebook è la piattaforma più diffusa sulla quale circolano informazioni, quanto influisce il sistema di business della piattaforma stessa sulla percezione della realtà dei suoi utenti?
        Per rispondere a queste domande abbiamo creato su Facebook:
        h1(class="goal--cosa titolo") Sei ipotetici profili di cittadini che seguono la campagna elettorale
        p(class="goal--cosa contenuto") Ognuno di loro ha un orientamento politico differente, seguono le stesse fonti, accedono a Facebook allo stesso momento. Hai capito bene:
            b  6 
               temutissimi bot
                |  sotto il nostro controllo.

    div.sezione.goal--come
        h1.goal--come.titolo Se a tutti noi vengono dati contenuti differenti, per capire chi viene penalizzato dall'algoritmo, dobbiamo confrontare le nostre bacheche.
        p(class="goal--come.highlight") Con un'estensione del browser (scaricala qui per Firefox e qui per Chrome), è Ci mancano parametri per capire: siamo tutti trattati ugualmente? chi comunica bene e chi no? le piattaforme che stiamo usando sono organizzazioni che paghi per promuovere un messaggio: significa che non siamo informati in modo eugualitario. Quanto e come, Facebook, distorce la realtà che c'è attorno a noi? 
        h1.goal--come.titolo L'algoritmo è un problema collettivo, e solo collaborativamente possiamo affrontarlo
        p.goal--come.descrizione Se Facebook rendere ogni esperienza personalizzata, non ci è possibile sapere chi di noi viene disinformato, acciecato verso alcuni contenuti o censurato quando pubblica. L'unico metro di giudizio che Facebook ci da sono i 
            i like 
            |, che giustamente non sono una misura affidabile, perché anche contenuti complicati, impopolari o senza gattini dovrebbero essere trattati ugualmente agli altri.
        h1.goal--come.titolo Questo sistema è come l'auditel di Facebook
        p.goal--come.descrizione e si basa sul contributo collettivo. Le analisi sono open-source, i dati sono riutilizzabili all'interno di alcuni paletti, pensati per proteggere dati e preferenze personali.

    div.sezione.goal--aiutaci
        p.goal--aiutaci.descrizione
            ul.goal--aiutaci.lista
                li Riusa i dati, studia l'algoritmo. Abbiamo tre diversi dataset relativi al programma
                    b distorsioni algoritmiche
                    |  sono i dati che useremo per scrivere report durante questa campagna.
                li Immagina test differenti: noi abbiamo fatto 6 bot, di cui 5 polarizzati. Abbiamo selezionato 6 fonti per ogni orientamento politico, e li facciamo accedere a Facebook allo stesso momento per poter ridurre le variabili e fare un raffronto più realistico. Ma altri test possono esistere, contattaci e pianificali, ti daremo supporto.
                li Grafica, comunicazione, divulgazione: siccome l'algoritmo è astratto ed anche i problemi che porta con se (disinformazione? polarizzazazione? censura invisibile?) sono molto distanti, sia dai così detti
                    i problemi reali
                    |  ma anche dall'insieme dei diritti umani ai quali facciamo riferimento, serve ricorrere a molti esperiendi comunicativi, e questa operazione può solo essere esternalizzata a chi ha una comunità di riferimento e sa come poter comunicare al suo gruppo.

    div.sezione.goal--cosadovrebbe
        h1.goal--cosadovrebbe.titolo L'algoritmo è il potere di decidere cos'ha priorità e cosa non cel'ha. E questo potere dovrebbe essere nelle nostre mani.
        p.goal--cosadovrebbe.descrizione Noi pensiamo che selezionando le fonti stiamo scegliendo come vogliamo essere informati, ma non è così. Noi diciamo che 
            b meritiamo di più
            |. Di certi Facebook non merita di poter decidere cos'è importante al posto nostro.
        h1.goal--cosadovrebbe.titolo Immagina la licenza GPL, ma per gli algoritmi
        p.goal--cosadovrebbe.descrizione La GPL è la licenza libera che ha permesso al software a sorgente libero di esistere: riconoscendo i crediti all'autore della tecnologia, e permettendo a chiunque altro di cambiarlo, capirlo, modificarlo nel proprio interesse. Se l'algorimo è la rappresentazione di una 
            i politica personale, di un insieme di valori
            |  allora solo tu puoi decidere qual'è il tuo. Ed aver la libertà di cambiarlo quando tu cambi, cambiarlo quando è il momento.

    div.sezione.goal--dettagli
        h1.goal--dettagli.titolo Dettagli & approfondimenti
        p.goal--dettagli.descrizione 
        ul.goal--dettagli.lista
            li Il sistema che colleziona i dati si chiama 
                a(href="https://facebook.tracking.exposed") facebook.tracking.exposed 
                | leggi la spiegazione 
                a(href="https://facebook.tracking.exposed/privacy-statement") di come i dati vengono trattati
                |.
            li L'analisi dell'algoritmo è un area in via di sviluppo [TODO, raccogliere link 
                a(href="http://social.cs.uiuc.edu/papers/pdfs/Sandvig-IJoC.pdf") come questo
                |]. Il meglio sarebbe se gli utenti avessero completa visibilità sui processi realizzati dagli algoritmi, ma in mancanza, ci tocca fare analisi e riflettere su come realizzare i nostri algoritmi al di sopra di questi dati.
