
include ../stdheader
include ../navbar

br
br
br
div.container-fluid

    div.sezione.goal--cosa
        #post

    script.
        loadDistorsions('#post', "#{posts}", "#{users}", "#{pages}");

include ../footer
include ../stdheader
