
include ../stdheader
include ../navbar

div.container-fluid
    div.sezione
        p.goal--cosa Organizzatore dell'iniziativa e sviluppatore della tecnologia: 
            a(href="https://twitter.com/@_vecna") Claudio Agosti
            |, claudio
            small ʚ
            | tracking 
            small .
            | exposed
        p.goal--cosa Ma il progetto non avrebbe mai visto la luce senza il prezioso aiuto di: Gianluca Oldani, Laura Boschi, Raffaele Angus, Riccardo Coluccini, Federico Sarchi
    div.sezione
        p.goal--come Collaborare non è difficile, 
        p.goal--aiutaci Abbiamo bisogno di...

include ../footer
