
include ../stdheader
include ../navbar

br
br
br
div.container-fluid
    div.sezione
        p.goal--cosa Organizzata e sviluppata da 
            a(href="https://twitter.com/@_vecna") Claudio Agosti
            |, Gianluca Oldani, Laura Boschi, Raffaele Angus, 
            a(href="https://twitter.com/ORARiccardo") Riccardo Coluccini
            |, 
            a(href="https://twitter.com/federicosarchi ") Federico Sarchi
            | e 
            a(href="https://twitter.com/CirKu17") Manuel d'Orso.

    div.sezione
        p.goal--come Collaborare non è difficile, è sufficente contattare qualcuno di noi o scaricare il dataset. 
        p.goal--aiutaci Abbiamo bisogno di:
            ul
                li Analisi dei dati: prendere dataset, fare analisi, estrarre considerazioni.
                    b I dati NON sono storie, ma tu puoi trovarne
                li Comunicazione: questo sito sembra una bozza di un webdev junior, del 2005, non approvata. Anche dopo le elzioni, il progetto procede, abbiamo un minuscolo budget e tanta voglia di integrare nuove persone. Fatti avanti, quello che viene fatto dai volontari non viene mai buttato
                li Sviluppo, Machine learning, ricerca: si parla di fare analisi black box di un sistema con variabili multiple ed ignote. A volte usando bot, a volte no, a volte con altre opzioni. Se studi la scienza dei dati o quella informatica, la sociologia o l'impatto delle nuove tecnologie, parlaci. Noi siamo un tema multidisciplinare e senza l'intersezionalità tra tecnologia e scienze umanistiche non potremo fare nulla che esca dalla nostra bolla.

include ../footer
