
include ../stdheader
include ../navbar

br
br
br
div.container-fluid
    div.sezione
        p.goal--cosa Organizzata e sviluppata da 
            a(href="https://twitter.com/@_vecna") Claudio Agosti
            |, claudio
            small ʚ
            | tracking 
            small .
            | exposed, e realizzata con 
            a(href="https://twitter.com/@_vecna") Gianluca Oldani, 
            |,
            b AfFFILIAZIONE/DESCRIZIONE BREVE DI QUEL CHE FAI QUI 
            | e così anche: Laura Boschi, Raffaele Angus, 
            a(href="https://twitter.com/ORARiccardo") Riccardo Coluccini
            | in qualità di pascolatore di bot, Federico Sarchi -- TODO i vostri contatti da mettere qui, aprite una pull request su
            a(href="https://github.com/tracking-exposed/e18/") github

    div.sezione
        p.goal--come Collaborare non è difficile, 
        p.goal--aiutaci Abbiamo bisogno di...

include ../footer
