
include ../stdheader
include ../navbar

div.container-fluid
    div.sezione
        p.goal--cosa L'organizzatore principale della tecnologia e dell'iniziativa è 
            a(href="https://twitter.com/@_vecna") Claudio Agosti
            |, contattabile all'indirizzo claudio 
            small ʚ
            | tracking 
            small .
            exposed
        p.goal--cosa Ma il progetto non avrebbe mai visto la luce senza il prezioso aiuto di:
    div.sezione
        p.goal--come Collaborare non è difficile, 
        p.goal--aiutaci Abbiamo bisogno di...

include ../footer
