
include ../stdheader
include ../navbar

div.container-fluid

    .sezione.goal--come
        p elezioni.tracking.exposed è un progetto nato per rispondere ad un'esigenza ben precisa: corroborare con dati ed analisi il dibattito, sempre più centrale nella vita pubblica, sull'influenza dei social media nella nostra vita, in particolare quella politica. 
        p Grazie alle analisi dei dati provenienti dall'utilizzo di Facebook possiamo fare luce sulle dinamiche della circolazione dell'informazione, aspetto centrale in una campagna pre-elettorale.  Se pensiamo a qualche anno fa, sarebbe bastata un'analisi delle testate informative, una sorta di rassegna stampa, per capire chi stava dicendo cosa e a chi, ora dobbiamo ricordarci che spesso c'è un algoritmo a frapporsi tra noi e l'informazione, ed è l'algoritmo a gestire i flussi e quindi in definitiva a decidere cosa leggeremo e cosa no.
        p Per prima cosa i dati che abbiamo rilevato ci mostrano che il circuito di produzione delle informazioni è fortemente saturato, ovvero vengono prodotte molte più "storie" di quelle che possono essere materialmente viste dagli utenti.
        p Il primo obiettivo del progetto è: 
            b fornire elementi per un dibattito aggiornato, di qualità.
        p Per ottenere questi dati utilizziamo un sistema terzo (possiamo dargli un nome?) che misura quello che succede nel social network, come unasorta di auditel di Facebook. Più utenti installano l'estensione del browser che le rende parti dell'osservazione collettiva, e meglio si osserveranno alcuni fenomeni.
        p Il secondo obiettivo è invece quello di monitorare eventuali ingerenze esterne, abusi di posizioni dominanti, sfruttamento di canali informativi preferenziali e messa in circolo di informazioni non del tutto veritiere.
        p Per capire meglio questo passaggio bisogna prendere atto di una cosa: l'accesso alle informazioni sul web, in particolare su Facebook, è di fatto gratuita, ma in quanto utenti noi rappresentiamo invece un tesoro per chi ci fornisce gratuitamente informazioni. Questo ha portato negli ultimi 15 anni ad un mercato dell'attenzione e dei profili. I profili sono gli utenti, cioè noi, le persone studiate in relazione a quello che fanno online. L'attenzione è la nostra ed è messa all'asta mentre si naviga. A quest'asta partecipa chi vuole mandarci un messaggio, e se sa tutto di noi, non sarà difficile scegliere, tra i diversi messaggi politici, quello che potrebbe essere più efficacie.

    .sezione.goal--aiutaci
        p C'è poi un motivo più opportunistico nel farlo durante le elezioni...
            ul
                li ...che venga creata un'immagine, profilata, di noi, al fine di essere rivenduta, usata in modi a noi ignoti e molto probabilmente non vantaggiosi (perchè, se viene avvantaggiato "il mercato" non si sta avvantaggiando ne "la qualità" ne "l'acquirente", ma solo le vendite) è un problema. E lo è ancora più grande se questo meccanismo viene applicato al sistema di informazione giornalistico-mediatico, che dovrebbe essere un pilastro della democrazia.
                li ...che la comunicazione politica avvenga su piattaforme non libere, e che per avere accesso ai messaggi di figure istituzionali si debba acconsentire al trattamento di dati personali, è una criticità sulla quale vogliamo porre l'attenzione, ed è un secondo grande problema.
                li ...che un algoritmo, di fatto, decida cosa a me interessi e cosa non debba vedere, ignoranto ogni aspettativa di auto determinazione dell'individuo.
        | Questi tre problemi esistono 365 giorni all'anno, ma durante le elezioni forse è più facile far passare il messaggio che anche chi si ritiene un utente che "non ha nulla da nascondere", ovvero chi si preoccupa poco del trattamento dei propri dati, rappresenta un valore, non fosse altro che per il suo voto. 
    .sezione.goal--cosa 
        p La filosofia del progetto è chiaramente open-data:  le analisi degli algoritmi sono ancora agli albori, e stiamo cercando di fare una sorta di analisi collettiva per comprendere le comunicazioni personalizzate, appena raccolti rendiamo i dati disponibili tramite la pagina 
            a(href="/documentazione") documentazione
            |.
        p I dataset sono rilasciati con licenza "Creative Commons By Attribution".

    .sezione.goal--cosa
        h2 le analisi offerte: 1, Osserva l'algoritmo.
        p
            ol
                li Abbiamo diviso la politica in 5 categorie: Estrema Destra, Destra, M5S, Centro Sinistra e Sinistra.  
                li Abbiamo scelto 6 fonti per ogni categoria: alcuni media, alcuni politici, alcuni partiti. Sei fonti per ciascuna categoria per un totale di 30.
                li Abbiamo creato 6 utenti Facebook che seguono le stesse 30 fonti. 5 utenti su 6 esprimono polarizzazione, ovvero gli viene associata un'area politica delle 5, e mettono i like ai contenuti di queste fonti.
            | Il risultato è che abbiamo 5 utenti profilati, uno "non allineato" e gli altri schierati: l'algoritmo di Facebook come sceglierà i contenuti diffusi dalle 30 fonti? Sappiamo che si creano le filter bubble: ora vediamo davvero cosa succede e come...
   
    div.sezione.goal--cosa 
        h2 le analisi offerte: 2, Inserzioni mirate
        p Sappiamo che dei famigerati "russi" hanno comprato pubblicità su facebook per dividere l'elettorato americano. Il nostro elettorato è già ben diviso, non c'è questo rischio, ma il problema rimane: chi fa pubblicità su facebook non è noto, e non è noto se diffonde informazioni veritiere o meno. non è noto quanto investe e chi sia. Collettvamente possiamo raccogliere queste informazioni, e solo collettivamente. Purtroppo chi fa le inserzioni può mirare ad utenti o gruppi specifici, e per questo il nostro insieme di utenti che collaborano deve essere più grande e diverso possibile. Se ritieni il progetto interessante collabora installando l'estensione per 
            a(href="https://addons.mozilla.org/en-US/firefox/addon/facebook-tracking-exposed/") Firefox 
            | o per 
            a(href="https://chrome.google.com/webstore/detail/facebooktrackingexposed/fnknflppefckhjhecbfigfhlcbmcnmmi") Chrome
            |.

    div.sezione.goal--cosa 
        h2 le analisi offerte: 3, I traccianti sono ovunque!
        p (da scrivere)

include ../footer
include ../stdheader
