
include ../stdheader
include ../navbar

br
br
br

div.container-fluid
    p Queste sono le 30 fonti che i bot usano: stiamo anche collezionado tutto quello che loro pubblicano, così da poter fare una sottrazione tra quello che i bot vedono e dedurre 
        b cosa, l'algoritmo, ha nascosto.

    table
        td
            tr
                b Movimento 5 Stelle
            tr
                a(href="https://facebook.com/news.m5s") M5S News
            tr
                a(href="https://facebook.com/WIlM5s") W il M5S
            tr
                a(href="https://facebook.com/ilFattoQuotidiano") Il Fattoquotidiano
            tr
                a(href="https://facebook.com/movimentocinquestelle") Movimento 5 Stelle
            tr
                a(href="https://facebook.com/LuigiDiMaio") Luigi Di Maio
            tr
                a(href="https://facebook.com/beppegrillo.it") Beppe Grillo
        td
            tr
                b Destra
            tr
                a(href="https://facebook.com/NoiconSalviniUfficiale") Noi con Salvini
            tr
                a(href="https://facebook.com/ilpopulista.it") Il Populista
            tr
                a(href="https://facebook.com/ilGiornale") Il Giornale
            tr
                a(href="https://facebook.com/legasalvinipremier") Lega - Salvini Premier
            tr
                a(href="https://facebook.com/rivogliobologna") Lucia Borgonzoni
            tr
                a(href="https://facebook.com/giorgiameloni.paginaufficiale") Giorgia Meloni
        td
            tr
                b Fascistoidi
            tr
                a(href="https://facebook.com/Fascisti-uniti-per-Litalia-411675765615435") Fascisti Uniti per l'Italia
            tr
                a(href="https://facebook.com/OrdineFuturo") Ordine Futuro
            tr
                a(href="https://facebook.com/ilprimatonatsionale") Il Primato Nazionale
            tr
                a(href="https://facebook.com/ForzaNuovaPaginaUfficiale") Forza Nuova
            tr
                a(href="https://facebook.com/casapounditalia") Casa Pound
            tr
                a(href="https://facebook.com/RobertoFiorePaginaUfficiale") Roberto Fiore
        td
            tr
                b Centro Sinistra
            tr
                a(href="https://facebook.com/Adessotiinformo") Adesso Ti Informo
            tr
                a(href="https://facebook.com/matteorenzinews") Matteo Renzi News
            tr
                a(href="https://facebook.com/Repubblica") La Repubblica
            tr
                a(href="https://facebook.com/democratica") Democratica
            tr
                a(href="https://facebook.com/matteorenziufficiale") Matteo Renzi
            tr
                a(href="https://facebook.com/partitodemocratico.it") Partito Democratico
        td
            tr
                b Sinistra
            tr
                a(href="https://facebook.com/Articolo1Modempro") Articolo UNO - Movimento Democratico Progressista
            tr
                a(href="https://facebook.com/sinistraitalianaSI") Sinistra Italiana
            tr
                a(href="https://facebook.com/ilmanifesto") Il Manifesto
            tr
                a(href="https://facebook.com/Possibile.it") Possibile
            tr
                a(href="https://facebook.com/giuseppecivati") Giuseppe Civati
            tr
                a(href="https://facebook.com/Laura-Boldrini-325228170920721") Laura Boldrini

include ../footer
