
include ../stdheader
include ../navbar

br
br
br

div.container-fluid
    p Queste sono le 30 fonti che i bot usano: stiamo anche collezionado tutto quello che loro pubblicano, così da poter fare una sottrazione tha quello che i bot vedono e dedurre 
        b cosa, l'algoritmo, ha nascosto.

    table
        tbody
            tr
                th
                    Movimento 5 Stelle
                th
                    a(href="https://facebook.com/news.m5s") M5S News
                th
                    a(href="https://facebook.com/WIlM5s") W il M5S
                th
                    a(href="https://facebook.com/ilFattoQuotidiano") Il Fattoquotidiano
                th
                    a(href="https://facebook.com/movimentocinquestelle") Movimento 5 Stelle
                th
                    a(href="https://facebook.com/LuigiDiMaio") Luigi Di Maio
                th
                    a(href="https://facebook.com/beppegrillo.it") Beppe Grillo
            tr
                th
                    Destra
                th
                    a(href="https://facebook.com/NoiconSalviniUfficiale") Noi con Salvini
                th
                    a(href="https://facebook.com/ilpopulista.it") Il Populista
                th
                    a(href="https://facebook.com/ilGiornale") Il Giornale
                th
                    a(href="https://facebook.com/legasalvinipremier") Lega - Salvini Premier
                th
                    a(href="https://facebook.com/rivogliobologna") Lucia Borgonzoni
                th
                    a(href="https://facebook.com/giorgiameloni.paginaufficiale") Giorgia Meloni
            tr
                th
                    Fascistoidi
                th
                    a(href="https://facebook.com/Fascisti-uniti-per-Litalia-411675765615435") Fascisti Uniti per l'Italia
                th
                    a(href="https://facebook.com/OrdineFuturo") Ordine Futuro
                th
                    a(href="https://facebook.com/ilprimatonatsionale") Il Primato Nazionale
                th
                    a(href="https://facebook.com/ForzaNuovaPaginaUfficiale") Forza Nuova
                th
                    a(href="https://facebook.com/casapounditalia") Casa Pound
                th
                    a(href="https://facebook.com/RobertoFiorePaginaUfficiale") Roberto Fiore
            tr
                th
                    Centro Sinistra
                th
                    a(href="https://facebook.com/Adessotiinformo") Adesso Ti Informo
                th
                    a(href="https://facebook.com/matteorenzinews") Matteo Renzi News
                th
                    a(href="https://facebook.com/Repubblica") La Repubblica
                th
                    a(href="https://facebook.com/democratica") Democratica
                th
                    a(href="https://facebook.com/matteorenziufficiale") Matteo Renzi
                th
                    a(href="https://facebook.com/partitodemocratico.it") Partito Democratico
            tr
                th
                    Sinistra
                th
                    a(href="https://facebook.com/Articolo1Modempro") Articolo UNO - Movimento Democratico Progressista
                th
                    a(href="https://facebook.com/sinistraitalianaSI") Sinistra Italiana
                th
                    a(href="https://facebook.com/ilmanifesto") Il Manifesto
                th
                    a(href="https://facebook.com/Possibile.it") Possibile
                th
                    a(href="https://facebook.com/giuseppecivati") Giuseppe Civati
                th
                    a(href="https://facebook.com/Laura-Boldrini-325228170920721") Laura Boldrini

    include ../footer
