include ../stdheader
include ../navbar

br
br
br

div.container-fluid

    .sezione.goal--come
        p Installando l'estensione del browser chiamata 
            b facebook.tracking.exposed
            | partecipi all'esperimento. L'estensione comporta che:
        ol
            li I post pubblici (quindi, quelli condivisi con tutti) saranno copiati dalla tua timeline e memorizzati: si tratta di una copia personale, quindi tu potrai riaccedere a quella lista per ri-valutare quello che Facebook ti ha dato
            li Nulla dei dati che tu mandi a Facebook viene toccato dalla nostra tecnologia: noi semplicemente salviamo quello che Facebook ti mostra sul newsfeed, di pubblico.
            li Puoi chiederci la cancellazione dei tuoi dati dall'archivio
            li I dati non saranno venduti ne usati per farci profitto, il progetto tracking.exposed ha come scopo quello di spiegare il tracciamento online. Le manipolazioni perpetrate dall'algoritmo sono
            li La pubblicità che ti viene mandata, opportunamente anonimizzata, potrebbe apparire nella sezione 
                a(href="/sponsorizzati") Pubblità mirata
                |.
            li Le analisi sono pensate per studiare i fenomeni politici, di dibattio, algoritmici. Ma non le persone. 
                i Nessuna persona
                | : ne chi pubblica, ne chi riceve.

    .sezione.goal--aiutaci
        p Se tutto questo ti va bene, installa l'estensione e considerati benvenuta/o. Puoi leggere di più nella sezione 
            a(href="/filosofia") filosofia
            |.

        p Installa per 
            a(href="https://addons.mozilla.org/en-US/firefox/addon/facebook-tracking-exposed/") Firefox 
            | o per 
            a(href="https://chrome.google.com/webstore/detail/facebooktrackingexposed/fnknflppefckhjhecbfigfhlcbmcnmmi") Chrome
            |.


    .sezione.goal--cosa
        h2 Vuoi fare di più?
        p Grazie, il progetto cerca di integrare aiuti da parte di persone che stanno all'intersezione tra tecnologia, scienze sociali, e fastidio verso il controllo tecnocratico.
        span.impact--0.right Sviluppi codice?
        p Chi programma in python o nodejs può 
        span.impact--0.right Analizzi dati?
        span.impact--0.right Lavori nella campagna elettorale?
        span.impact--0.right Fai comunicazione web?

include ../footer
include ../stdheader
