
include ../stdheader
include ../navbar

br
br
br

div.container-fluid
    div.sezione.goal--cosa
        p Non sappiamo come attirarli, servirebbero per stabilizzare una tecnologia open source per il monitoraggio di facebook. un esperimento scientifico collettivo, con la più ampia diversità di soggetti a supportare l'analisi ed ad interpretare i dati. Gli utenti meritano un sistema di visualizzazione che permetta loro di orientarsi più oggettivamente nell'infosfera, sottraendosi dall'algoritmo. La ricerca, richiede una scalabilità ed un ingenierizzazione non più prototipale. l'analisi dei dati deve essere più documentata e permettere un giudizio collaborativo e distribuito: Domande come "cos'è l'algoritmo" e "cos'è un algoritmo corretto" potranno essere risposte collettivamente, in un linguaggio comune, che è fatto tramite l'analisi dei dati. Con queste direzioni in mente, cerchiamo partnership, fondi, ma è chiaro che le elezioni italiane 2018 sono alle porte, e quello che va perseguito è invece un processo di analisi dell'algoritmo collaborativo.

include ../footer
