body
    font-family: 'Work Sans', sans-serif;

.goal--cosa
    background #ffffcc

.goal--come
    background #ddffcc

.goal--aiutaci
    background #ffe6ff

.goal--dettagli
    background #ccffff

.sezione
    padding-left 20px
    padding-right 20px
    border #0086b3 2px solid
    border-radius 8px
    margin 2px

.titolo
    text-transform uppercase
    font-size 1.2em
    font-weight 800
    text-align center
    font-family: 'FrancoisOne', sans-serif;
    
.highlight
    text-align right
    olor #0086b3
    background

@font-face
    font-family 'FrancoisOne'
    font-style normal
    font-weight 400
    src local('FrancoisOne'), url("/js/local/FrancoisOne.ttf") format('truetype')

@font-face
    font-family 'Work Sans'
    font-style normal
    font-weight 400
    src local('Work Sans'), url("/js/local/WorkSans.ttf") format('truetype')

.footer
    text-align center
    color #c490da
    font-size 0.8em
