body
    font-family: 'Work Sans', sans-serif;

.goal--cosa
    background #ffffcc

.goal--come
    background #ddffcc

.goal--aiutaci
    background #ffe6ff

.goal--dettagli
    background #ccffff

.sezione
    padding-left 20px
    padding-right 20px
    border #0086b3 2px solid
    border-radius 8px
    margin 2px

.titolo
    text-transform uppercase
    font-size 1.2em
    font-weight 800
    text-align center
    font-family: 'FrancoisOne', sans-serif;
    
.highlight
    text-align right
    color #0086b3
    background #d8f641

@font-face
    font-family 'FrancoisOne'
    font-style normal
    font-weight 400
    src local('FrancoisOne'), url("/js/local/FrancoisOne.ttf") format('truetype')

@font-face
    font-family 'Work Sans'
    font-style normal
    font-weight 400
    src local('Work Sans'), url("/js/local/WorkSans.ttf") format('truetype')

.footer
    text-align center
    color #c490da
    font-size 0.8em

.utenti
    font-size 1.1em
    text-align center

.nome
    display block

.orientamento
    background white
    border yellow 2px solid
    border-radius 0px 16px 0px 16px

.table
    table-layout fixed

.visualizzazioni
    text-align center
    font-size 4em

.mai
    color red
    font-weight 800
    font-size 3.4em

.postTime
    font-size 0.6em
    color #24c2e5
    text-align right

.contatore
    padding 5px
    background white
    color darkblue
    font-size 1.3em

.expected
    background radial-gradient(circle, #f7ffe8, #e2fffa, #fff3fb) 

.numeri
    font-size 1.3em
    width 160px

.etichetta
    font-size 0.9em
    width 160px
    color grey

.info
    display inline-block
    text-align center
    margin 2px
    border 2px red solid
    border-radius 2px 2px 2px 2px
    padding 3px

.compagnie
    color green

.compagnia
    margin 2px
    border 2px #f27df2 solid
    padding 3px
    display inline-block
    background #f1e0f8

.link
    color darkgreen

.site
    border-bottom 2px white solid

.line
    border-bottom 2px black
    height 5px
    width 100%

.download
    padding-left 30px
    display block
    width 100%
    background #def3de
    border-radius 8px
    font-size 2em
