body
    font-family: 'Work Sans', sans-serif;

rotate-div()
    -ms-transform: arguments;
    -webkit-transform: arguments;
    transform: arguments;

.left
    rotate-div: (10deg)
    text-align left
    padding-left 10%

.right
    rotate-div: (-10deg)
    text-align right
    padding-right 10%

.red
    color red

.weird--0
    font-style italic
    color pink

.profili
    display block-inline
    font-size 0.4em !important

.profilo
    text-align center
    border 1px lightgrey solid
    float left
    width 130px
    margin 3px

.profiloNome
    font-size 1.4em
    font-weight 200
    border-bottom black

.profiloPolarizzazione
    width 130px

.profiloImmagine
    width 130px

