
p.footer
    a(href="/contatti") contatti
    |  ★  
    a(href="/codice") il codice
    |  ★  
    a(href="/scopi") gli scopi
    |  ★  
    a(href="/soldi") raccolta fondi (se è qui in basso è perchè non esiste, ma...)
