
p.footer
    a(href="/contatti") contatti
    |  ★  
    a(href="https://github.com/tracking-exposed/e18") il codice
    |  ★  
    a(href="/filosofia") la filosofia dietro a questo progetto
    |  ★  
    a(href="/soldi") raccolta fondi (se è qui in basso è perchè non esiste, ma...)
