doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    link(rel='stylesheet', href='/js/vendor/bootstrap/css/bootstrap.min.css') 

    link(rel='stylesheet', href='campaign/base.css')
    link(rel='stylesheet', href='campaign/carousel-styles.css')
    link(rel='stylesheet', href='campaign/reveal-css/reveal.css')
    link(rel='stylesheet', href='campaign/reveal-css/theme/black.css')

    script(type='text/javascript', src='/js/vendor/jquery/jquery.js')
    script(type='text/javascript', src='/js/vendor/lodash.min.js')
    script(type='text/javascript', src='/js/vendor/moment.min.js')
    script(type='text/javascript', src='/js/vendor/d3.min.js')
    script(type='text/javascript', src='/js/vendor/d3-path.min.js')
    script(type='text/javascript', src='/js/vendor/c3.min.js')

    script(type='text/javascript', src='/campaign/e18.js')

    meta(property="og:type" content="website")
    meta(property="og:title" content="Elezioni Italiane 2018")
    meta(property="og:description" content="dati liberi e liberati per il vostro rispettoso riuso. Analisi dell'algoritmo e delle piattaforme pubblicitarie chiamate social media")
    meta(property="og:url" content="https://elezioni.tracking.exposed")
    meta(property="og:image" content=ogimageurl)

    meta(property="og:image:width" content="600")
    meta(property="og:image:height" content="300")

    title elezioni italiane 2018: analisi dell'algoritmo, dei social media e dati liberati per il vostro rispettoso riuso

  body
