
nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href="/") 
        span(class="glyphicon glyphicon-home")
    ul.nav.navbar-nav
      li
        a(href="/distorsioni") Sbroglia l'algoritmo
      li
        a(href="/sponsorizzati") Rendiconta gli "Sponsorizzati"
      li
        a(href="/sorveglianza") Sorveglia l'elettorato
      li
        a(href="/documentazione") (API e documentazione)

