
include stdheader
include navbar


.sezione.goal--cosa
    h3 Benvenuti! un prototipone di progetto in via di sviluppo: codice su 
        a(href="https://github.com/tracking-exposed/e18") github.com/tracking-exposed/e18
    h2 non c'è ancora una vera homepage, scegli per i menu:
        ul
            li
                a(href="/distorsioni") Sbroglia l'algoritmo
                p.orientamento Per ora una versione basilare dei dati esportati. I post riportati sono quelli con più interazioni, quindi sembra più equilibrato di quello che è. Vorrei che i post cambiasero un po' randomicamente. Poi ci dovrebbe essere l'iconografia della pagina visibile nella tabella, e magari dei colori o delle bandiere di riferimento sotto all'orientamento politico.
            li
                a(href="/sponsorizzati") Rendiconta gli "Sponsorizzati"
                p.orientamento Tramite
                    b  tutti gli utenti italiani che installano l'estensione
                    |  possiamo analizzare i post sponsorizzati ricevuti su Facebook. Non è ancora pronta, ma ci manca poco.

            li
                a(href="/sorveglianza") Elettorato, dal web sorvegliato.
                p.orientamento Tramite i 6 bot Deve essere la lista dei link con più trackers. ci sono dati di dettagli sul tipo, le compagnie, i cookie, etc. Ho i dati nel DB, non il testo e non la webapp
            li
                a(href="/documentazione") (API e documentazione)
                p.orientamento Qui son documentati i dati disponibili, manca ancora link per download, ma ci si fa un'idea

include footer
