
include stdheader
include navbar

h3 Benvenuti! un prototipone di progetto in via di sviluppo: codice su 
    a(href="https://github.com/tracking-exposed/e18") github.com/tracking-exposed/e18
h2 non c'è ancora una vera homepage, scegli per ora tra:
    ul
        li
            a(href="/distorsioni") Sbroglia l'algoritmo
            p.orientamento Per ora una versione basilare dei dati esportati. I post riportati sono quelli con più interazioni, quindi sembra più equilibrato di quello che è. Vorrei che i post cambiasero un po' randomicamente. Poi ci dovrebbe essere l'iconografia della pagina visibile nella tabella, e magari dei colori o delle bandiere di riferimento sotto all'orientamento politico.
        li
            a(href="/sponsorizzati") Rendiconta gli "Sponsorizzati"
            p.orientamento Deve essere una lista dei post sponsorizzati, ma non l'ho ancora pronta. solo il testo
        li
            a(href="/sorveglianza") Sorveglia l'elettorato
            p.orientamento Deve essere la lista dei link con più trackers. ci sono dati di dettagli sul tipo, le companie, i cookie, etc. Ho i dati nel DB, non il testo e non la webapp
        li
            a(href="/documentazione") (API e documentazione)
            p.orientamento Qui son documentati i dati disponibili, manca ancora link per download, ma ci si fa un'idea

include footer
