div.profili
    .profilo.md-4 
        .profiloNome Andrea
        .profiloPolarizzazione fa i 
            i like 
            | di destra
        img.profiloImmagine(src="/campaign/destra.png")
    .profilo.md-4
        .profiloNome Michele
        .profiloPolarizzazione il fascistoide
        img.profiloImmagine(src="/campaign/fascistoide.png")
    .profilo.md-4
        .profiloNome Antonietta
        .profiloPolarizzazione mette 
            i like 
            | a sinistra
        img.profiloImmagine(src="/campaign/sinistra.png")
    .profilo.md-4
        .profiloNome Santiago
        .profiloPolarizzazione centro-sinistra
        img.profiloImmagine(src="/campaign/centro-sinistra.png")
    .profilo.md-4
        .profiloNome Britta
        .profiloPolarizzazione Movimento 5 Stelle
        img.profiloImmagine(src="/campaign/m5s.png")
    .profilo.md-4
        .profiloNome Oliviero
        .profiloPolarizzazione non orientato!
        img.profiloImmagine(src="/campaign/non-allineato.png")
