
include ../stdheader
include ../navbar

div.sezione
    h1 Dibattito e Semantica
    p#fonti Considerate le 
        a(href="#" class="linkespandibile" onclick="espansioneFonti('#fonti')") fonti in analisi, stiamo scaricando tutti i post che vengono condivisi ed i link
    p contenuto
    a(href="https://pugjs.org/api/getting-started.html") Questa pagina è scritta con sintassi pug: un dialetto semplificato dell'HTML, se sai usare l'HTMl non è necessario che tu lo impari.
    
